.title{
    text-align: center;
    margin-top: 25px;
    border: lightgray dashed 10px;
    
}
.form{

    margin: auto;
    max-width: 80%;
    text-align: center;
}
input[type='submit'], button, [aria-lable]{
    cursor: pointer;
}
#edit-box{
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}
td{
    background-color: lightgray;
    padding-right: 20px;
    text-align: left;
}
.to-do{
    
    background: transparent !important;
}